@import "tailwindcss";

/* .header {
    border: 1px solid black;
     display: flex;
     justify-content: space-between;
}

.logo {
   height: 60px;  
}
.nav-bar > ul {
    display: flex;
    gap: 15px;
}
.nav-bar > ul > li {
    padding: 10px;
    list-style-type: none;
    font-size: 24px;
    margin-right: 20px;
    
}
.resto-card {
    width: 230px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
     box-sizing: border-box;
    word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
   box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  
}

.resto-card:hover {
    cursor: pointer;
    border: 3px solid rgb(71, 20, 200);
}

.res-card {
   display: flex;
   flex-wrap: wrap;
}

.search{
    padding-top: 10px;
}

.food-Img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.filter{
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
}

.shimmer-img{
background-color: #f0f0f0;
height: 300px;
width: 200px;
margin: 20px;
border-radius: 8px;
border: 0.5px solid #f0f0f5;
color: #656b97;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.login_btn{
    margin-right: 10px;
    cursor: pointer;
    border-radius: 6px;

}

.login_btn:hover{
    background-color: greenyellow;
}

.menu-item {
  padding: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
  font-family: Arial, sans-serif;
}

.menu-item strong {
  font-size: 16px;
  color: #333;
}

.menu-item .description {
  color: #666;
  font-size: 14px;
}

.Use-Menu{
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}

.Use-Menu:hover{
   cursor: pointer;
}
 */




