.header {
    border: 1px solid black;
     display: flex;
     justify-content: space-between;
}

.logo {
   height: 60px;  
}
.nav-bar > ul {
    display: flex;
    gap: 15px;
}
.nav-bar > ul > li {
    padding: 10px;
    list-style-type: none;
    font-size: 24px;
    margin-right: 20px;
    
}
.resto-card {
    width: 230px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

.resto-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-card {
   display: flex;
   flex-wrap: wrap;
}

.search{
    padding-top: 10px;
}

.food-Img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.filter {
    margin: 5px;
    padding: 5px;
}







